.container{
    height: 37rem;
    width: 19rem;
    background-color: black;
    margin-top: 2.5rem;
    margin-left: 30rem;
    border-radius: 0.9rem;
    display: grid;
    grid-template-rows: repeat(4,4.2rem); 
    grid-template-columns: repeat(4,4.5rem); 
}

.btn{
    height: 3.5rem;
    width: 3.5rem;
    background-color: rgba(122, 122, 221, 0.556);
    color: white;
    border-radius: 50%;
    margin-left: 1.1rem;
    margin-top: 15.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    box-shadow: 0px 0px 4px white;
    cursor: pointer;
}

#DEL{
    font-size: 22px;
}

.equale{
    width: 2rem;
}

#change{
    height: 2.4rem;
    width: 3.5rem;
    background-color: rgba(141, 202, 183, 0.859);
    text-align: center;
    position: absolute;
    top: 10rem;
    left: 31rem;
    border-radius: 1rem;
    cursor: pointer;
}

input{
    outline: none;
    text-align: right;
    height: 2.4rem;
    width: 16.5rem;
    position: absolute;
    top: 13.5rem;
    left: 31.5rem;
    background-color: #cacbcb;
    border-radius: 0.5rem;
}
.direction{
    height: 2.4rem;
    width: 3.5rem;
    position: absolute;
    top: 10rem;
    left: 31rem;
}

#historyBtn{
    top: 8rem;
    left: 45rem;
    background-color: rgba(84, 125, 182, 0.638);
    text-align: center;
    height: 1.3rem;
    font-weight: bold;
    border-radius: 2rem;
}


